/* 主页模块化样式文件 */
.container {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.main {
  flex: 1 1 0%;
  padding: 2rem 0;
}

.mainWrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e5e7eb;
  background-color: #fff;
}

.intro {
  padding: 3rem;
}

.libraryName {
  margin-top: 0;
  margin-bottom: 24px;
}

.libraryDesc {
  margin-bottom: 24px;
}

.footer {
  background-color: #f3f4f6;
}

.footerWrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
}

.author {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.authorDesc {
  color: #6b7280;
}

.githubBtn {
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #f3f4f6;
  font-size: 16px;
  color: #111827;
  cursor: pointer;
}

.githubBtn svg {
  width: 13px;
  margin-right: 4px;
}

.separate {
  height: 20px;
  border: 1px solid #e5e7eb;
  border-left: none;
  border-right: none;
}

.installaton {
  padding: 3rem;
}

.installaton h3 {
  margin-top: 0;
}

.defaultDiffConfig {
  padding: 3rem;
}

.customDiffConfig {
  padding: 3rem;
}

.snippetWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.snippetWrapper pre {
  margin: 0;
}

.snippetWrapper pre::before {
  content: '~';
  margin-right: 10px;
}

.snippetWrapper svg {
  cursor: pointer;
}

.pnpmInstallation,
.npmInstallation {
  margin-bottom: 24px;
}

.codeBlockDownRight {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 12px 16px;
  background-color: #f9fafb;
  cursor: pointer;
}

.codeBlockContent {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.codeBlockContent pre {
  margin: 0;
  white-space: pre-wrap;
}

.codeBlockContent svg {
  cursor: pointer;
}

.defaultDiffConfig h3,
.customDiffConfig h3 {
  margin-top: 0;
}

.api {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  border: 1px solid #e5e7eb;
  border-top: none;
  background-color: #fff;
}

.apiWrapper {
  padding: 0 3rem;
}

.apiWrapper table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 16px;
  font-size: 14px;
  border-collapse: collapse;
  line-height: 1.7142857;
}

.apiWrapper table thead th {
  padding-bottom: 8px;
}

.apiWrapper table thead th:first-child {
  width: 150px;
}

.apiWrapper table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

.apiWrapper table tbody tr td {
  padding: 8px;
  padding-left: 0;
}

.playground {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  border: 1px solid #e5e7eb;
  border-top: none;
  background-color: #fff;
}

.playground h3 {
  padding-left: 16px;
}

.playgroundWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  padding: 16px;
}

.playgroundWrapper textarea {
  padding: 8px;
}